* {margin: 0; padding: 0%;}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(6, 72, 134);
  padding: 10px, 16px;
  align-items: center;
  height: 60px;
 
}

.nav-logo {
  color: #ebe1e1;
  font-size: 30px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 0;
  align-items: center;
  margin-right: 20px;
  font-size: 20px;

}

.nav-menu li a {
  text-decoration: none;
  color: rgb(240, 245, 245);
}

.title {
  color: #f7dddd;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title h2 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}
body {
  background-color: #e1e7f4;

}
.login-box {
  display: flexbox;
  margin-left: 1050px;
  margin-top: 20px;
  background-color: rgb(217, 247, 247);
  height: 600px;
  width: 450px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}